{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('./Shop.css')}}">
<link rel="stylesheet" href="{{asset('./Car_Details.css')}}">
{% endblock %}
{% block title %}{{car.name}}{% endblock %}

{% block body %}
{% include 'shared/navbar.html.twig' %}

<div class="detail-grid">
        <div class="car_img">
            <img src="{{asset('./images/car-details.png')}}" alt="">
        </div>
        <div class="car-content">
            <div class="car-header">
                <h1 class="car-text">{{car.marque}}, {{car.name}}</h1>
                <span class="car-price">£{{car.prix}}</span>
            </div>
            <p class="car-description">{{car.shortDesc}}</p>
            <div class="car-options">
                <div class="car-elements">
                    
                    <div class="car-element-aligment">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2 28.5C2 28.8978 2.15804 29.2794 2.43934 29.5607C2.72064 29.842 3.10218 30 3.5 30H28.5C28.8978 30 29.2794 29.842 29.5607 29.5607C29.842 29.2794 30 28.8978 30 28.5V12H2V28.5Z" fill="#404040"/>
                            <path d="M30 5.48562C29.9998 5.28939 29.9607 5.09513 29.885 4.91406C29.8094 4.73298 29.6987 4.56867 29.5592 4.43057C29.4198 4.29248 29.2544 4.18334 29.0726 4.10944C28.8909 4.03555 28.6962 3.99835 28.5 4H25.005V2H22.005V4H9.995V2H6.995V4H3.5C3.30377 3.99835 3.10915 4.03555 2.92735 4.10944C2.74556 4.18334 2.58018 4.29248 2.44075 4.43057C2.30132 4.56867 2.1906 4.73298 2.11495 4.91406C2.03931 5.09513 2.00024 5.28939 2 5.48562V9H30V5.48562Z" fill="#404040"/>
                            </svg>
                             <span>
                                 {{ car.annee }}
                             </span>
                    </div>
                </div>
                <div class="car-elements">
                    <div class="car-element-aligment">
                       
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16 3C7.71628 3 1.00003 9.78438 1.00003 18.16C0.992191 21.8584 2.33249 25.4329 4.77003 28.2144C4.84378 28.2956 4.91066 28.3769 4.98441 28.4513C5.57503 29 5.75441 29 6.22316 29C6.69191 29 7.00003 29 7.46878 28.445C9.50003 26.04 12.625 25 16 25C19.375 25 22.5044 26.0444 24.5313 28.445C25 29 25.3013 29 25.7769 29C26.2525 29 26.4832 29 27.0157 28.4513C27.0919 28.3731 27.1563 28.2956 27.23 28.2144C29.6676 25.4329 31.0079 21.8584 31 18.16C31 9.78438 24.2838 3 16 3ZM15 7H17V11H15V7ZM9.00003 19H5.00003V17H9.00003V19ZM10.3432 13.7575L7.51503 10.9288L8.92878 9.515L11.7575 12.3431L10.3432 13.7575ZM17.4125 19.2125C17.2911 19.3808 17.1434 19.5285 16.975 19.65C16.5687 19.9335 16.0669 20.0453 15.5786 19.9611C15.0903 19.8769 14.655 19.6036 14.367 19.2004C14.079 18.7972 13.9616 18.2967 14.0404 17.8075C14.1191 17.3184 14.3876 16.88 14.7875 16.5875L20 14L17.4125 19.2125ZM20.2425 12.3431L23.0713 9.515L24.485 10.9288L21.6569 13.7575L20.2425 12.3431ZM27 19H23V17H27V19Z" fill="#404040"/>
                    </svg>
    
                             <span>
                                {{car.boite}}
                             </span>
                    </div>
                </div>
                <div class="car-elements">
                    <div class="car-element-aligment">
                                        
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M30.5 14C30.3125 13.6875 28.4619 12.8881 28.4619 12.8881C28.7838 12.7219 29.0037 12.6875 29.0037 12C29.0037 11.25 29 11 28.5 11H26.8037C26.7969 10.985 26.7894 10.9694 26.7825 10.9537C25.6875 8.5625 25.5406 7.95812 23.9075 7.14437C21.7169 6.055 17.61 6 16 6C14.39 6 10.2831 6.055 8.09437 7.14437C6.45937 7.95687 6.5 8.375 5.21938 10.9537C5.21938 10.9606 5.20625 10.9788 5.19438 11H3.49625C3 11 2.99625 11.25 2.99625 12C2.99625 12.6875 3.21625 12.7219 3.53813 12.8881C3.53813 12.8881 1.75 13.75 1.5 14C1.25 14.25 1 16 1 19C1 22 1.25 25 1.25 25H1.99625C1.99625 25.875 2.125 26 2.5 26H7.5C7.875 26 8 25.875 8 25H24C24 25.875 24.125 26 24.5 26H29.625C29.875 26 30 25.8125 30 25H30.75C30.75 25 31 21.9375 31 19C31 16.0625 30.6875 14.3125 30.5 14ZM7.82875 16.8088C6.69045 16.9332 5.54633 16.997 4.40125 17C3.125 17 3.08125 17.0819 2.99125 16.285C2.95739 15.9203 2.9681 15.5528 3.02312 15.1906L3.0625 15H3.25C4 15 4.70438 15.0319 6.03438 15.4237C6.71083 15.6267 7.34708 15.9452 7.915 16.365C8.1875 16.5625 8.25 16.75 8.25 16.75L7.82875 16.8088ZM23.2763 21.3088L23 22H9C9 22 9.02437 21.9619 8.6875 21.3013C8.4375 20.8125 8.75 20.5 9.24438 20.3225C10.2019 19.9775 13 19 16 19C19 19 21.8538 19.8425 22.7812 20.3225C23.125 20.5 23.5519 20.625 23.2763 21.3125V21.3088ZM7.21375 12.7756C7.01187 12.7873 6.80953 12.7887 6.6075 12.78C6.77063 12.49 6.86125 12.1669 7.02063 11.8294C7.52063 10.7669 8.0925 9.56437 9.11063 9.0575C10.5819 8.325 13.6313 7.995 16 7.995C18.3687 7.995 21.4181 8.3225 22.8894 9.0575C23.9075 9.56437 24.4769 10.7675 24.9794 11.8294C25.14 12.17 25.2294 12.4956 25.3969 12.7875C25.2719 12.7944 25.1281 12.7875 24.785 12.7756H7.21375ZM28.9463 16.2825C28.8125 17.0625 28.9375 17 27.5987 17C26.4537 16.997 25.3096 16.9332 24.1712 16.8088C23.9931 16.7769 23.9425 16.4762 24.085 16.365C24.65 15.9405 25.2872 15.6216 25.9656 15.4237C27.2956 15.0319 28.0444 14.9794 28.7838 15.0056C28.8334 15.0075 28.8806 15.0277 28.9163 15.0623C28.9519 15.097 28.9735 15.1435 28.9769 15.1931C29.0122 15.5569 29.0019 15.9237 28.9463 16.285V16.2825Z" fill="#404040"/>
                        </svg>
                        
                             <span>
                                {{car.portes}} doors
                             </span>
                    </div>
                </div>
                <div class="car-elements">
                    <div class="car-element-aligment">
                        
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24.9375 6.20563L24.625 1H7.40314L7.06251 6.20375C6.98189 7.40625 6.92314 8.275 7.29564 10.3075C7.40001 10.8769 7.62189 11.7238 7.90376 12.7963C8.69189 15.7963 10.0106 20.8188 10.0106 25.0231V31H21.9906V25.0238C21.9906 20.2056 23.3225 15.4431 24.1156 12.5981C24.3894 11.6213 24.605 10.8481 24.7038 10.3094C25.0794 8.2775 25.0206 7.40812 24.9375 6.20563ZM9.13939 5L9.26439 3H22.7344L22.8594 5H9.13939Z" fill="#404040"/>
                        </svg>
                        
                             <span>
                                {{car.carburant}}
                             </span>
                    </div>
                </div>
            </div>
            <div class="car-footer">
                
           <div class="back-link-flex">
            <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96616 2.25005L3.21616 9.00005L9.96616 15.75L8.37517 17.341L0.0341797 9.00005L8.37517 0.659058L9.96616 2.25005Z" fill="#0C0C0C"/>
                </svg>
    
                <a href="{{path('car')}}" class="back-link"> Go back</a>
           </div>
                <button class="Buy-button-details">Buy Now</button>
            </div>
        </div>
    </div>
{% endblock %}
