{% extends 'base.html.twig' %}

{% block title %}Shop{% endblock %}
{% block stylesheets %}

{% endblock %}
{% block body %}
{% include 'shared/navbar.html.twig' %}
<div class="wrapper-grid">
    {% for i in cars %}
    <div class="container">
        <div class="img-container">
            <div class='banner-img'></div>
        </div>
      
     <div class="context-card">
        <h1 class="name">{{i.marque}}, {{i.name}}</h1>
        <span class="price"> £{{i.prix}}</span>
     </div>
        <div class="card-footer">
            <a href="{{path('details', {'id': i.id})}}" class="details">View details</a>
            <button class=" Buy-button">Buy Now</button>
        </div>
    </div>
    {% endfor %}
    

   
</div>
{% endblock %}
