
            <label>
                <input type='checkbox' class='checkbox'>
                <span class='menu'> <span class='hamburger'></span> </span>
                <ul class="ul-ham" style="color: black;">
                    <li><a onclick="document.getElementsByClassName('checkbox')[0].checked = false" href=" href="{{path('home')}}">HOME</a></li>
                    <li><a onclick="document.getElementsByClassName('checkbox')[0].checked = false" href=" href="#">CONTACT</a></li>
                     {% if app.user %}
                    <li><a onclick="document.getElementsByClassName('checkbox')[0].checked = false" href="{{path('app_logout')}}LOGOUT">SERVICES</a></li>
                    <li><a onclick="document.getElementsByClassName('checkbox')[0].checked = false" href="{{path('car')}}">Shop Now</a></li>
                     {% else %}
                      <li><a onclick="document.getElementsByClassName('checkbox')[0].checked = false" href="{{path('app_login')}}"> LOGIN</a></li>
                        <li><a onclick="document.getElementsByClassName('checkbox')[0].checked = false" href="{{path('app_login')}}">Register Now</a></li>
                    <li><a onclick="document.getElementsByClassName('checkbox')[0].checked = false" href="{{path('register')}}">CONTACT</a></li>
                </ul>
         
        <div>
            <img src="{{asset('./images/Logo.png')}}" height="70%" alt="Logo" id="logo" class="logo">
        </div>
        <div class="nav-right">
            <ul class="nav-links">
              <li><a onclick="document.getElementsByClassName('checkbox')[0].checked = false" href=" href="{{path('home')}}">HOME</a></li>
                    <li><a class="menu active"  onclick="document.getElementsByClassName('checkbox')[0].checked = false" href=" href="#">CONTACT</a></li>
                     {% if app.user %}
                    <li><a class="menu active"  onclick="document.getElementsByClassName('checkbox')[0].checked = false" href="{{path('app_logout')}}LOGOUT">SERVICES</a></li>
                    <li><a class="menu active"  onclick="document.getElementsByClassName('checkbox')[0].checked = false" href="{{path('car')}}">Shop Now</a></li>
                     {% else %}
                      <li><a class="menu active"   onclick="document.getElementsByClassName('checkbox')[0].checked = false" href="{{path('app_login')}}"> LOGIN</a></li>
                        <li><a class="menu active"   onclick="document.getElementsByClassName('checkbox')[0].checked = false" href="{{path('app_login')}}">Register Now</a></li>
                    <li><a class="menu active"  onclick="document.getElementsByClassName('checkbox')[0].checked = false" href="{{path('register')}}">CONTACT</a></li>
            

            </ul>
            <button class="shop-button">Shop Now</button>
        </div>
    </nav>
            {% endif %}
            
    </div>
</nav>