{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="./Home.css">
<link rel="stylesheet" href="./global.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <script src="./main.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
{% endblock %}
{% block body %}
{% include 'shared/navbar.html.twig' %}
  <div id="myModal" class="modal">
        <!-- Modal content -->
        
        <div class="modal-content">
            <span class="close">&times;</span>
            <div>
                <h2>On vous contacte</h2>
                <p>Dès que notre application est disponible, notre équipe <br>
                    se fera le plaisir de vous informer par mail</p>
                <form class="nl">
                    <input type="text" placeholder="Adresse mail">
                    <button class="modal-btn">Envoyer</button>
                </form>
            </div>
        </div>
    
    </div>
    <div id="bg">

    </div>
    

    <div class="main">
        <div class="main-left">
            <div class="paragraph">
                    <h2>
                        Ride your dream car <br>
                        at a lowest price*
                    </h2>
                    
            </div>
           
        </div>
        
    </div>

    <div id="services">
        <div class="search-container">
            <input type="search" class="search-input" placeholder="What car are you looking for?">
            <button class="search-btn">Search</button>
        </div>
        <hr width="150px">
        <div class="services-title">
            What we offer you
        </div>
        <div class="all-services">
            
            <div>
                <img src="img/map.png" height="70px" alt="">
                <h5>Buy online, get it delivered</h5>
                <p>
                    Get your car delivered anywhere in mainland UK in 3-5 working days.
                </p>
            </div>
            <div>
                <img src="img/Hotel bell.png" height="70px" alt="">
                <h5>Pocket-friendly</h5>
                <p>Buy a car with peace of mind, we get you the best deals with £0 deposit..</p>
            </div>
            <div>
                <img src="img/tag.png" height="70px" alt="">
                <h5>Reliable advisers</h5>
                <p>Not sure what you are looking for? Our dedicated team are here to help.</p>
            </div>
        </div>
    
    </div>
    <div class="others">
        
    </div>
    <div class="footer">
        
    </div>
</body>

{% endblock %}
