@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
.modal{

    border-radius: 8px;
}
input{
    border-radius: 8px;
    border: #888 1px solid;
    width:280px
}
.shop-button
{
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    padding: 14px 40px;
    color: white;
    border: none;
    background: #F8CD57;
    border-radius: 8px;
}
.modal-btn{
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    padding: 14px 40px;
    color: white;
    border: none;
    background: #FE6549;
    border-radius: 8px;
}
.modal-btn:hover{
background-color: white;
    color: #FE6549;
    
}
.modal-content{
    
    border-radius: 8px;
}
.search-btn
 {
    width: 237px;
    height: 64px;
    background: #F8CD57;
    border: none;
    margin-left: 8px;
 }
 .search-input
 {
    width: 564px;
    height: 64px;
    padding-left: 80px;
    
 }
 .search-input::placeholder
 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #BBBBBB;
    
 }
 .search-container
 {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 170px;  
     
 }
 .p
 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
 }
 .all-services
 {
     color: white;
 }
.modal-content>div{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.modal-content>div>h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 70px;
    text-align: center;
    color: #141414;
}
.modal-content>div>p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #141414;
}
.nl{
    display: flex;
    justify-content: space-around;
    padding-left: 20vw;
    padding-right: 20vw;
}

html,body{
    max-width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

label{
    display: none;
}
.to-top{display: none;}
ul{
    list-style-type: none;
}
li {
    text-decoration: none;
}
#bg{
    background: url("../img/bg.png") no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}
/*NAVBAR*/
.nav-scrolled {
    z-index: 10;
    justify-content: start;
    margin-left: 0;
    margin-right: 0;
    position: fixed;
    width: 100vw;
    background-color: transparent;
    color: black;
    box-shadow: 0 4px 2px  #14141418;
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn; 
    animation-duration: .3s;   
    -webkit-animation-duration: .3s;
    animation-timing-function: ease-in-out; 
    -webkit-animation-timing-function: ease-in-out;    
}

nav{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    position: s;
    background-color: transparent;
}

.nav-links{
    color: #141414;
    padding-top: 10px;
    justify-content: space-between;
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    display: inline;
    list-style-type: none;
}

li{
    float: left;
}

li a {
  display: block;
  padding: 8px;

}

.a-scrolled{
    color: #141414 ;
}

a {
    color: white;
  text-decoration: none; /* no underline */
}
.active , a:hover{
    color: #F8CD57;
}

.notif{
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    padding: 14px 40px;
    color: white;
    border: none;
    background: #F8CD57;
    border-radius: 8px;
}

/*MAIN*/
.main-scrolled{
    padding-top: 20vh;
}
.main-right>img{
    height: 90vh;
}
.main{   
    height: 100vh; 
    justify-content: space-between;
    display: flex;
    background-color: transparent;
    padding: 5%;
    padding-top: 1%;
    padding-bottom: 0;
    margin-bottom: 0;
}

.paragraph>h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 70px;
    color: white;
    margin-top: 20px;
}

.paragraph>p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    color: white;
}


.stores{
    display: flex;
}
.playStore>img {
    height:50px;
    margin: 5px;
}
.appStore>img{
    height:50px;
    margin: 5px;
}

/*services*/
#services{
    padding-top: 21vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(12, 12, 12, 0) 0%, #0C0C0C 32.54%, #0C0C0C 100%);
    height:817px;
    margin-top: -530px;

}
hr{
    color: #F8CD57;
    margin-top: 104px;
}
.services-title{
    

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: white;
    text-align: center;
    margin-top: 48px;
}
.all-services{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 40px;
    margin-left: 50px;
    margin-right: 50px;
}
.all-services>div>p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    text-align: justify;
    margin: 20px;
}
.all-services>div>h5{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    margin: 20px;
}

a:active{
    color: #F8CD57;
}





/*why*/

.why{

    color: white;
    display: flex;
    background-color: #073242;
    height: 90vh;

}
.why-left>h3{
   font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 70px; 
}
.why-left>p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
}
.why-left{
    width: 40vw;
    margin-top: 12vh;
    margin-left: 12vh;
        
}
.why-right{
    padding-left: 5%;
    width: 40vw;
    margin-top: 12vh;
}

.item{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

/*apropos*/
#apropos{
    display: flex;
}
.apropos-text{
    width: 90vw;
    margin-top: 20vh;
    margin-left: 12vh;
}
.apropos-text>h3{
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 55px;
    color: #141414;
}
.apropos-text>p{
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;
color: #141414;
}
.plus{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #FE6549;
    text-decoration: underline;
}

.apropos-img>img{
    padding-top: 100px;
    filter: drop-shadow(30px 30px 0px #073242);
}

.ecrivez-nous{
    display: flex;
    height: 80vh;
    padding-top: 15vh;
    background-color: #141414;
    color: white;
}
.ecrivez-nous-text{
    width: 30vw;
    margin-left: 12vh;
}
.ecrivez-nous-text>h3{
    font-family: Poppins;
    font-weight: bold;
    font-size: 56px;
    line-height: 70px;
}
.ecrivez-nous-text>p{
    font-family: Poppins;
    font-size: 24px;
    line-height: 30px;
}
.ecrivez-nous-form{
height: 10px;
}

.one{

    height: 10000%;
    padding-left: 20%;
}
/*FOOTER*/



/*SOCIAL MEDIA*/
#social-media{
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    background-color: #073242;
    color: white;
    display:flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}
#social-media>ul>li{
    margin-left: 10px;
}




/*responsive*/
@media screen and (max-width: 992px){
hr
{
    margin-top: 120px;
}
.search-container
{
    margin-top: -50px;
}
#services
{
    height: auto;
    margin-top: -650px;
}
.search-input
{
width: 320px;
}
.search-input::placeholder
{
    font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 21px
}
.search-btn
{
    display: none;
}
    nav{
        display: flex;
        justify-content: left;
    }
    .nav-links{
        display: none;
    }
    .paragraph>h2{
        line-height: normal;
        font-size: 34px;
    }
    .paragraph>p{
        line-height: normal;
        font-size: 15px;
    }
    .main-right>img{
        display: none;
    }
    .stores{
        justify-content:start
    }
    .appStore>img{
        height:40px;
        margin: 0;
        margin-left: 20px;
    }
    .playStore>img{
        height:40px;
        margin: 0;
    }


    /*services*/
    .all-services{
        flex-direction: column; 
    }
    .all-services>div>h5{
        font-size: 24px;
    }
    .all-services>div>p{
        font-size: 15px; 
        text-align: left;
    }



    /*why*/
    .why{
        width: 100vw;
        padding: 0;
        margin: 0;
        height: auto;
        flex-direction: column;
        align-items: center;

    }
    .why-left{
        padding: 0;
        margin: 0;
    }
    .why-left>h3{

        font-size: 24px;
        line-height: normal;
    }

    .why-left>p{
        text-align: left;
        font-size: 15px;
        line-height: normal;
    }
    .why-right{
    padding: 0;
    margin: 0;
    width: 80vw;
    justify-content: space-around;
    }
    .item{
        padding: 0;
    }
    .item>li>img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
    .item>li>h4{
        font-size: 18px;
        text-align: center;
    }



    /*apropos*/
    #apropos{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .apropos-text{
        margin: 0;
    }
    #apropos>.apropos-text>p{
        /*text-align: left;*/
        font-size: 15px;
    }
    .plus{
         text-align: left;
    }

    #apropos>.apropos-img>img{
        width: 70% ;height: 90%;


    }


    /*ecrivez-nous*/
    .ecrivez-nous{
        padding-top: 5vh;
        height: 130vh;
        display: block;
        
    }
    .ecrivez-nous-text{
        width: 70%;
    }
    .ecrivez-nous-text>h3 {
        font-size: 24px;
    }
    .one{
        width: 97vw;
        padding: 0;
    }

    /*footer*/
    .others{
        height: 500px;
        
        background-color: white;
    }

    .footer-middle{
        display: none;
    }
    .footer-left>img{
        height: 25% !important;
    }
    .to-top{
        display: block;
        padding-top: 10px;
        text-align: center;
        background-color: #fe644996;
        height: 30px;
        width: 50px;
        position: fixed;
        bottom: 1vh;
        right: 1vh;
    }


    /*social-media*/

    #social-media>ul{
        padding: 0;
    }
    .to-top:hover{
background-color: rgba(255, 255, 255, 0.287);
border: #FE6549 2px solid;
    }


    /*NAAV*/
    .notif {
        display: none;
    }



    /*ham*/
    label .menu {
    position: absolute;
    right: -100px;
    top: -100px;
    z-index: 100;
    width: 200px;
    height: 200px;
    background: rgba(255, 255, 255, 0.548);
    border-radius: 50% 50% 50% 50%;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.548), 0 0 0 0 rgba(255, 255, 255, 0.548)F;
    cursor: pointer;
    }

    label .hamburger {
        
    position: absolute;
    top: 135px;
    left: 50px;
    width: 30px;
    height: 5px;
    border-radius: 6px;
    background: black;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    }
    .open{
        display: block;
    }
    label .hamburger:after, label .hamburger:before {
        height: 2px;
        border-radius: 6px;
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        position: absolute;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: black;
    }

    label .hamburger:before { top: -10px; }

    label .hamburger:after { bottom: -10px; }

    label input { display: none; }

    label input:checked + .menu {
    box-shadow: 0 0 0 100vw rgba(255, 255, 255, 0.548), 0 0 0 100vh rgba(255, 255, 255, 0.548);
    /*border-radius: 0;*/
    }

    label input:checked + .menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    }

    label input:checked + .menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
    }

    label input:checked + .menu .hamburger:before {
    /*-webkit-transform: rotate(90deg);
    transform: rotate(90deg);*/
    top: 0;
    }

    label input:checked + .menu + .ul-ham { opacity: 1; }

    label .ul-ham {
        z-index: 200;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0;
        -webkit-transition: .25s 0s ease-in-out;
        transition: .25s 0s ease-in-out;
    }
    .ul-ham{
        position: absolute;
        top: 0;
        padding-top: 200px !important;
        line-height: 50px;
        display: flex;
        flex-direction: column;
    }
    .ul-ham>li>a{
        font-family: Poppins;
        font-weight: 800;
        font-size: 20px;
        line-height: 50px;
        text-align: center;
        color: #141414;
    }
    .ul-ham>li>a:hover{
        color: #FE6549;
    }
    label{
        margin-bottom: 1em;
        display: block;
        color: #000;
        text-decoration: none;
    }
}

/*animations*/
@keyframes fadeIn {
    0% {
        height:0%;
        opacity: 0.0;  
    }
    60% {
        height: 2vh;
        opacity: 0.5; 
    }
    80% {
        height:4vh;
        opacity: 1; 
    }   
    100% {
        height:6vh;
        opacity: 1; 
    }       
}


/*popup*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
